<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="waves" value="https://pkgs.dev.azure.com/cryptobrokersglobal/CryptoBrokersGlobal/_packaging/waves/nuget/v3/index.json" />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>